<div class="col-md-3 instawrap ">
    {{!-- {{#if this.meta.isExcludedFromTopStories}}highlight{{/if}} --}}
    <div class='insta'>
        <div class='top-insta'>
            <span><img src='{{this.owner.profile_pic_url}}'></span>
            <span class='user'>{{this.owner.username}}</span>
        </div>
        <div class='post'>
            <img src='{{this.display_url}}'>
        </div>
        <div class='footer'>
            <a href='#'>{{this.edge_media_preview_like.count}} Likes</a>
            <div class="date">{{formatDate this.taken_at_timestamp "short"}}</div>
        </div> <!-- end Footer -->

    </div> <!-- end Insta -->
</div>