<div class="container-fluid bg w-100 h-100">
    <div class="row h-100">
        <div class="offset-md-1 col-md-8 my-auto">
            <div class=" mx-auto">
                <h3 class="mt-5 mb-3">Welcome to Instawareness</h1>
                    <ol>
                        <li>Firstly, read the instructions on this page carefully.</li>
                        <li>No data of any kind from your Instagram account is being collected in any way.</li>
                        <li>Are you still reading? Great! Keep going because it's important. </li>
                        <li>With Instawareness, I want to make you more aware of the algorithm behind instagram. I want
                            to challenge you with some questions that you should be able to answer after you completed
                            this tour. It should take 15 minutes max to figure it all out!
                        </li>
                        <li>What algorithm? How does it work? <i class="far fa-frown-open"></i>
                            <ul class="fa-ul">
                                <li><i class="far fa-check-square"></i> The algorithm <b>only sorts</b> (=ranks) posts
                                    in your feed. Unlike Facebook, nothing is hidden if you scroll far enough. </li>
                                <li><i class="far fa-check-square"></i> Interest: Instagram ranks the posts you'll care
                                    about higher. This is mainly based on the content of the post.</li>
                                <li><i class="far fa-check-square"></i> Recency: more recent posts get prioritized
                                    (higher ranked) over weeks-old ones.</li>
                                <li><i class="far fa-check-square"></i> Relationship: people you're closer with get
                                    higher ranked in your feed. This is mainly base on interaction such as liking,
                                    commenting, getting tagged...</li>
                                <li><i class="far fa-check-square"></i> Beside these 3 main factors there's also:
                                    frequency (how often you use the App), amount of followers (more followers =
                                    stronger personalisation) &amp; usage (amount of time you spent each time you open
                                    the app).</li>
                                <li><i class="far fa-check-square"></i> The algorithm moslty teaches itself with all
                                    these parameters based on your past behaviour (machine learning).</li>
                            </ul>
                        </li>
                        <li>On <span class="tablink"><i class="far fa-eye-slash"></i> {{view2Name}}</span> (tab op
                            top), you
                            can see <b>whoms posts you can
                                miss</b>
                            if you're checking the first {{topPostsCount}} due to sorting of the algorithm.</li>
                        <li>On <span class="tablink"><i class="fas fa-sort"></i> {{view3Name}}</span> (tab op top), you
                            can
                            see <b>how a post is ranked</b>
                            compared to your feed without an algorithm.</li>
                        <li>On <span class="tablink"><i class="fas fa-user-friends"></i> {{view4Name}}</span> (tab op
                            top),
                            you can see <b>whom you see more on top</b>,
                            and whom you see equally or lower in your feed. Here I show you who the algortihm thinks
                            your closest friends are.</li>
                        <li>Now i want you to visit all these tabs on top and spent some time on them. In the left
                            blue column you see your feed without an algoritm (reverse chronological sorted). In the
                            left column you see your feed as you would in the Instagram App, thus with an algortihm
                            behind it.Try to understand what you see and why it is this way. Think <b>critically</b>
                            and reflect about it. You should be able to answer the following questions afterwards.</li>
                        <li class="lead">I give you following <b>Challenges</b> you should be able to asnwer to
                            afterwards.
                            <ul class="fa-ul">
                                <li><i class="fas fa-question-circle"></i> Whose posts you might miss out on? Why are
                                    it those people?</li>
                                <li><i class="fas fa-question-circle"></i> What kind of posts do get higher and lower
                                    ranked? Do they make sense?</li>
                                <li><i class="fas fa-question-circle"></i> Do some posts get ranked alot higher or
                                    lower? How strong is the personalisation of your feed?</li>
                                <li><i class="fas fa-question-circle"></i> Are your closest friends according to the
                                    algorithm really those people you care about? Why is
                                    {{viewFour.friendsRankings.top.[0].username}} ranked as one of your closest
                                    friends?
                                    Does it
                                    makes any sense? Could you think about people where you would be top and bottom
                                    rank?</li>
                                <li><i class="fas fa-question-circle"></i> Do you have the feeling you miss out many
                                    posts or people? Do you think you get less likes because you can be ranked lower in
                                    your followers algorithm?</li>

                            </ul>
                        </li>
                    </ol>
                    <div id="startbtn" class="btn btn-success"><i class="far fa-thumbs-up"></i> Let's start!</div>

                    <h4 class="py-3">Enjoy unraveling the algorithm! Thibault</h4>
            </div>
        </div>
        <div class="offset-md-1 col-md-2 my-auto mx-auto">
            <div class="device-container">
                <img src="/images/ugent.png" class="img-fluid" alt="ugent">
            </div>
        </div>
    </div>
</div>